/* Global CSS */

.App {
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background: #BE93C5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #7BC6CC, #BE93C5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #7BC6CC, #BE93C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  height: 12vmin;
}

/* Contact Css */

.contact-section p {
  display: flex;
  align-self: center;
}

.contact-us {
  font-weight: 300;
  font-size: 25px;
  color: #5E6578;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
  padding-top: 20px;
  letter-spacing: .02em;
}

.contact-section {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  flex-basis: 500px;
  flex-grow: .5;
  height: 500px;
}

.contact-form .input {
  display: flex;
  font-style: oblique;
  width: -webkit-fill-available;
  margin: auto;
  border: 0;
  border-bottom: 1px solid black;
}

.form-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 33px;
}

/* Home CSS */

.form-control {
  text-align: center;
}